includes:
    - database.php

parameters:


application:
	errorPresenter: Error
	mapping:
		*: Rumguru\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: \App\RouterFactory::createRouter
	authenticator: \Rumguru\Model\Authenticator

	- Rumguru\Repositories\UserRepository
